<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                                http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <context:property-placeholder location="classpath:props.properties"/>

    <bean id="hapFortune" class="com.dem.coach.HappyFortune">
    </bean>

    <bean id="baseballCoach" class="com.dem.coach.BaseballCoach">
        <constructor-arg ref="hapFortune"/>
    </bean>

    <bean id="cricketCoach" class="com.dem.coach.CricketCoach">
        <property name="fortuneService" ref="hapFortune"/>
        <property name="email" value="${coach.email}"/>
        <property name="team" value="${coach.team}"/>
    </bean>

</beans>